[submodule "src/third_party/json"]
	path = src/third_party/json
	url = https://github.com/nlohmann/json

[submodule "src/third_party/curl"]
	path = src/third_party/curl
	url = https://github.com/curl/curl

[submodule "src/third_party/openssl"]
	path = src/third_party/openssl
	url = https://github.com/openssl/openssl

[submodule "src/third_party/PDCurses"]
	path = src/third_party/PDCurses
	url = https://github.com/wmcbrine/PDCurses

[submodule "src/third_party/zlib"]
	path = src/third_party/zlib
	url = https://github.com/madler/zlib

[submodule "src/third_party/LibreHardwareMonitor"]
	path = src/third_party/LibreHardwareMonitor
	url = https://github.com/LibreHardwareMonitor/LibreHardwareMonitor

[submodule "src/third_party/libwebsockets"]
	path = src/third_party/libwebsockets
	url = https://github.com/warmcat/libwebsockets

[submodule "src/third_party/FFmpeg"]
	path = src/third_party/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg

[submodule "src/third_party/boost"]
	path = src/third_party/boost	
	url = https://github.com/boostorg/boost

