[submodule "src/third_party/FFmpeg-7.1"]
	path = src/third_party/FFmpeg-7.1
	url = https://github.com/FFmpeg/FFmpeg
[submodule "src/third_party/LibreHardwareMonitor"]
	path = src/third_party/LibreHardwareMonitor
	url = https://github.com/LibreHardwareMonitor/LibreHardwareMonitor
[submodule "src/CPP-parsers"]
	path = src/CPP-parsers
	url = https://github.com/dongge0210/CPP-parsers.git

[submodule "src/third_party/USBMonitor-cpp"]
	path = src/third_party/USBMonitor-cpp
	url = https://github.com/dongge0210/USBMonitor-cpp
[submodule "src/third_party/TC"]
	path = src/third_party/TC
	url = https://github.com/dongge0210/TC

[submodule "src/third_party/PDCurses"]
	path = src/third_party/PDCurses
	url = https://github.com/dongge0210/PDCurses
